@import url('https://fonts.googleapis.com/css2?family=Arima&family=Bitter:wght@300&family=PT+Sans+Narrow&display=swap');

/*Estilo de fuente usada para el footer y la barra superior con la promocion de cuotas y envio*/

* {
    margin: 0;
    padding: 0;
}

/*Estilos del body*/
body {
    background-image: url('../Images/index-background.jpg');
    background-size: cover;
}
nav div p {
    font-family: 'Arima', cursive;
    font-family: 'Bitter', serif;
    font-family: 'PT Sans Narrow', sans-serif; 
}

.barraCuotas {
    background-color: red;
    text-align: center;
    color: whitesmoke;
}

.positionLogo {
    margin-left: 1%;
    margin-top: 1%;
}

.cuenta-carro {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.barraBusqueda{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center
}

.displayNavegacion {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.margenProducto {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.displayProductos {
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-content:center;
    align-items:center;
}


.displayMenu {
    background-color: rgb(125, 121, 121);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

ul{
    list-style: none;
    font: 0; 
}

li {
    display:inline-block;
    position: relative;
    margin-inline: 10px;
}

ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
}

ul li:hover ul {
   display: block; 
}

a {
    text-decoration: none;
}


h2 {
    text-align: center;
}

.bannerNintendo, .bannerXbox {
    display: flex;
    width: 100%;
}

.botonConfirmar {
    margin-top: 2%;
}

.estiloTablaCarro {
    display: flex;
    align-content:center;
    flex-direction: column;
    font-style: initial;
    font-size: large;
}

.formularioCuenta, .formularioCarro, .formularioCarroTarjeta {
display: flex;
flex-direction: column;
padding: 2%;
border-color: black;
border-radius: 1%;
font-style: italic;
font-size: large;
}


.formularioCarroTarjeta {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-radius: 5px;
    font-style: italic;
    font-size: large;
}

.productosXbox, .productosPs, .productosNintendo {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: black;
}

.margenProducto {
    margin-bottom: 5%;
}

.margenFiltroXbox, .margenFiltroPs, .margenFiltroNintendo {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-inline-start: 1%;
    margin-top: 2%;
    }

 .juegosXbox, .juegosNtd, #juegosNtd {
    display: flex;
    align-content:center;
    align-items:center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2%;
    flex-wrap: wrap;
}

/*Estilos del footer*/

#colorLetra {
    color: white;
}


footer {
    background-color: red;
    font-family: 'Arima', cursive;
    font-family: 'Bitter', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    }


    /* GRID*/

    #grillaProductos {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat (3, auto);
        justify-content: center;
        align-content: center;
        gap: 5%
    }

    header {
        grid-area: header;
    }
    
    footer {
        grid-area: footer;
    }
    
    section {
        grid-area: section;
        margin-top: 2%;
    }

    nav {
        grid-area: nav;
        margin-top: 5%;
        
    }
      
    aside {
        grid-area: aside;
        margin-left: 5%;
    }

    #juegosPs, #juegosXbox, #juegosNtd {
        display: grid;
    }
    
    @media screen and (min-width: 320px) and (max-width: 1023px) {
        #juegosPs, #juegosXbox, #juegosNtd {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat (5, auto);
            justify-content: center;
            align-content: center;
            row-gap: 2%;
            column-gap: 2%;
            margin-top: 15%;
        }

        .positionLogo {
            width: 20%;
            height: 20%
        }

        .displayMenu {
            margin-bottom: 35%;
        }

        footer {
            display: flex;
            margin-top: 20%;
            height: 8%;
        }

        nav{
            margin-top: 5%;
        }
        .cuenta-carro, .masVendidosNtd, .aside, .margenPagos, .margenUbicacion, .margenFiltroXbox, .margenFiltroPs, .margenFiltroNintendo {
            display: none;
        }
        .margenFiltroXbox, .margenFiltroPs, .margenFiltroNintendo {
            margin-top: 2%;
        }

         .productosNintendo {
            margin-top: 2%;
            margin-bottom: 30%;
        }

        .productosXbox, .productosPs {
            margin-top: 2%;
            margin-bottom: 40%
        }
        .margenProducto {
            display: flex;
            margin-bottom: 15%;
            justify-content: center;
        }
    }

    @media screen and (min-width: 1200px) {
        #juegosPs, #juegosXbox, #juegosNtd {
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat (2, auto);
            justify-content: center;
            align-content:flex-start;
            row-gap: 2%;
            column-gap: 2%;
        }

        footer {
            margin-top: 10%;
        }
    }